@font-face {
  font-family: 'icomoon';
  src:  url('./fonts/icomoon.eot?i7gwg2');
  src:  url('./fonts/icomoon.eot?i7gwg2#iefix') format('embedded-opentype'),
    url('./fonts/icomoon.ttf?i7gwg2') format('truetype'),
    url('./fonts/icomoon.woff?i7gwg2') format('woff'),
    url('./fonts/icomoon.svg?i7gwg2#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-github:before {
  content: "\e906";
}
.icon-facebook:before {
  content: "\f09a";
}
.icon-facebook-f:before {
  content: "\f09a";
}
.icon-instagram:before {
  content: "\f16d";
}
.icon-telegram:before {
  content: "\f2c6";
}
.icon-moon:before {
  content: "\e902";
}
.icon-sun:before {
  content: "\e903";
}
